<%= render 'shared/header' %>

<section class='timezones container'>
  <h1 class='text-center'>Set Timezone</h1>
  <p>Thank you for signing up with Beamdox. Please select your timezone so that we can ensure we get your submitted documents back within 24 hours.</p>
  <%= form_for :user, url: profile_timezone_path(@user.id), method: :put, :data => {:toggle => 'validator'} do |f| %>
    <div class='row'>
      <div class='form-group'>
        <%= f.label :timezone %>
        <%= f.collection_select :timezone, ActiveSupport::TimeZone.us_zones, :name, :to_s, {}, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
        <%= f.submit "Update", :class => 'btn btn-primary submit' %>
      </div>
    </div>
  <% end %>
</section>