<h1 class='user_settings text-center'>User Profile</h1>

<!-- Name update -->
<%= form_for @user, url: profile_path, method: :put, :data => {:toggle => 'validator'} do |f| %>
  <div class='form-horizontal'>
    <div class='row'>
    	<div class='form-group'>
        <div class='col-md-1 col-md-offset-2'>
      		<%= f.label :name %>
        </div>
    		<div class='col-md-6'>
    			<%= f.text_field :name, :class => 'form-control', :required => true %>
          <div class="help-block with-errors"></div>
    		</div>
        <div class='col-md-3'>
          <%= f.submit "Update", :class => 'btn btn-primary' %>
        </div>
    	</div>
    </div>
  </div>
<% end %>

<!-- Email update -->
<%= form_for @user, url: profile_path, method: :put, :data => {:toggle => 'validator'} do |f| %>
  <div class='form-horizontal'>
    <div class='row'>
    	<div class='form-group'>
        <div class='col-md-1 col-md-offset-2'>
    		  <%= f.label :email %>
        </div>
    		<div class='col-md-6'>
    			<%= f.email_field :email, :class => 'form-control', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
          <div class="help-block with-errors">Email must follow a standard email format (e.g., 'brian@gmail.com').</div>
    		</div>
        <div class='col-md-3'>
          <%= f.submit "Update", :class => 'btn btn-primary' %>
        </div>
    	</div>
    </div>
  </div>
<% end %>

<!-- Phone number update  -->
<%= form_for @user, url: profile_path, method: :put do |f| %>
  <div class='form-horizontal'>
    <div class='row'>
      <div class='form-group'>
        <div class='col-md-1 col-md-offset-2'>
          <label for='user_phone_number'>Phone Number</label>
        </div>
        <div class='col-md-6'>
          <%= f.phone_field :phone_number, :class => 'form-control' %>
        </div>
        <div class='col-md-3'>
          <%= f.submit "Update", :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Password update  -->
<%= form_for @user, url: profile_path, method: :put, :data => {:toggle => 'validator'} do |f| %>
  <div class='form-horizontal'>
    <div class='row'>
      <div class='form-group'>
        <div class='col-md-1 col-md-offset-2'>
          <%= f.label :password %>
        </div>
        <div class='col-md-6'>
          <%= f.password_field :password, :id => 'inputPassword', :class => 'form-control', :placeholder => 'Password', :required => true, :data => {:minlength => 8} %>
          <div class="help-block with-errors">Minimum of 8 characters</div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='form-group'>
        <div class='col-md-6 col-md-offset-3'>
          <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Password Confirmation', :required => true, :data => {:match => '#inputPassword', :match_error => 'Passwords do not match.'} %>
          <div class="help-block with-errors">Must match the password field.</div>
        </div>
        <div class='col-md-3'>
          <%= f.submit "Update", :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Timezone update  -->
<%= form_for @user, url: profile_path, method: :put, :data => {:toggle => 'validator'} do |f| %>
  <div class='form-horizontal'>
    <div class='row'>
      <div class='form-group'>
        <div class='col-md-1 col-md-offset-2'>
          <%= f.label :timezone %>
        </div>
        <div class='col-md-6'>
          <%= f.collection_select :timezone, ActiveSupport::TimeZone.us_zones, :name, :to_s, {}, :class => 'form-control', :required => true %>
          <div class="help-block with-errors"></div>
        </div>
        <div class='col-md-3'>
          <%= f.submit "Update", :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>