<section class="row">
  <section class="col-md-8">
    <h1>What kind of document do you want to submit?</h1>
    <%= link_to new_profile_cover_letter_path do %>
      <%= image_tag "logos/doc_icon.png" %>Cover Letter
    <% end %>
    <%= link_to new_profile_resume_path do %>
      <%= image_tag "logos/doc_icon.png" %>Resume
    <% end %>
    <%= link_to new_profile_essay_path do %>
      <%= image_tag "logos/doc_icon.png" %>Essay
    <% end %>
  </section>
</section>
