<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">BeamDox</a>
            <%= image_tag 'logos/LBolt.png'%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Before/After</a>
                </li>
                <li>
                    <a class="page-scroll" href="#story">Story</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#submit">Submit</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">BeamDox</div>
            <div class="intro-heading">Fast. Professional. Edits.</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted"><strong>Speed + Quality = Success</strong><br><br>All of our professional editing services send back revisions in <strong>24 hours</strong>.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil-square fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cover Letters</h4>
                <p class="text-muted" align="justify">Distinguish yourself from the crowd. We make your cover letters more memorable and attention-grabbing so that no recruiter will ignore you.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Resumes/CV's</h4>
                <p class="text-muted" align="justify">Design clear and structured resumes. We enable your resume to highlight your most impressive skills, assets, and achievements.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Application Essays</h4>
                <p class="text-muted" align="justify">Everyone's story is unique. Your application essay is an opportunity to get personal. We help streamline narratives that reflect your complete character.</p>
            </div>
        </div>
    </div>
</section>

<!-- Before/After Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Before/After</h2>
                <h3 class="section-subheading text-muted">Take a look at the improvements of actual <strong>cover letters</strong>, <strong>resumes</strong>, and <strong>essays</strong> that we provided in <strong>24 hours</strong>.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/resumeprocesswood.png', class: 'img-responsive' %>
                </a>
                <div class="portfolio-caption">
                    <h4>Cover Letter Editing</h4>
                    <p class="text-muted">Sample</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/startup-framework.png', class: 'img-responsive' %>
                </a>
                <div class="portfolio-caption">
                    <h4>Resume Design</h4>
                    <p class="text-muted">Sample</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/treehouse.png", class: "img-responsive" %>
                </a>
                <div class="portfolio-caption">
                    <h4>Essay Revision</h4>
                    <p class="text-muted">Sample</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Story Section -->
<section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Story</h2>
                <h3 class="section-subheading text-muted">We understand the challenges of applying to a dream job or top academic institutions.<br><br>Our mission is to <strong>empower job seekers and prospective students</strong>.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "about/sunrise.png", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>SEPTEMBER 2013</h4>
                                <h4 class="subheading"><i>Humble Beginnings</i></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" align="justify">In 2013, Chris and I (Paul) matriculated into Harvard Business School. Like most MBA students, we were concerned about landing a summer internship with a premier company. Although we used on-campus career resources to build resumes, review cover letters, and submit applications, we generally found the process to be slow, inconvenient, and impersonal. Online services demanded exhorbitant prices while offering low prices, and slow responses.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "about/airplane.png", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>DECEMBER 2013</h4>
                                <h4 class="subheading"><i>Gathering Momentum</i></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" align="justify">We weren’t alone. Many fellow students had similar complaints. In response, Chris and I formed a small peer-editing student group. Because we typically applied to many positions across several companies, we needed our editing process to be <strong>FAST</strong> and to possess a <strong>HIGHLY PERSONAL</strong> touch. Over time, we quickly developed an efficient system of peer critique that yielded <strong>HIGH QUALITY</strong> edits.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <%= image_tag "about/flight.png", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>MAY 2014</h4>
                                <h4 class="subheading"><i>Unexpected Success</i></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" align="justify">Due to our combined efforts, every member of our peer-editing team earned top-choice summer internships, which eventually translated to full-time offers after graduation. It became clear that this type of nimble editorial process was highly effect. After we returned to campus to start our second year, we formally launched our resume, cover letter, and essay editing service with the hope to empower first-year students. It became a big hit on HBS, MIT, and Boston University campuses.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%= image_tag "about/blastoff.png", class: "img-circle img-responsive" %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>SEPTEMBER 2014</h4>
                                <h4 class="subheading"><i>Blast Off!</i></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted" align="justify">Today, our editorial team is composed of nearly 60 editors, many of whom are current MBA and Law students from top-10 programs. We have processed over <strong>35,000</strong> document submissions from customers in over <strong>20</strong> different countries. Our promise is <strong>QUALITY</strong> and <strong>SPEED</strong>. We have successfully delivered 100% of revisions in <strong>24 hours</strong>.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>SPEED
                                <br>+
                                <br>QUALITY
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Passionate. Energetic. Driven.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/chris.png", class: "img-responsive img-circle" %>
                    <h4>Chris Koo</h4>
                    <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA 2015</p>
                    <!-- <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/paul.png", class: "img-responsive img-circle" %>
                    <h4>Paul Zhao</h4>
                    <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA of 2015</p>
                   <!--  <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/3.jpg", class: "img-responsive img-circle" %>
                    <h4>Review Team</h4>
                    <p class="text-muted"><i>58 Editors</i><br>Subject Matter Experts (SME)</p>
                   <!--  <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" align="justify"><br>Our editoral team constitutes a diverse group of editors. All of our editors are professionals who possess real-world experience in various <strong>industries and functions, Fortune 500 firms and startups, as well as school admissions and career counseling</strong>. In fact, most of our editors are MBA students/graduates who have strong command of CURRENT and RELEVANT recruiting, application, and admissions processes and norms. Together, they bring a unparalleled knowledge and expertise to resume, cover letter, and essay editing.</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Success Stories</h2>
                <h3 class="section-subheading text-muted">Passionate. Energetic. Driven.</h3>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Wei1.png", class: "img-responsive img-circle" %>
                <h4>Wei Liu</h4>
                <p class="text-muted" align="justify"><br><i>"I sent my cover letters to BeamDox and got them back the next day. The quality is superb and the editors are fast. My cover letters got a lot of attention during my summer internship recruiting. They were differentiated from cookie-cutter templates and boilerplate formats."</i>
                <p class="text-muted" align="right"><strong>~Wharton, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Maria1.png", class: "img-responsive img-circle" %>
                <h4>Maria Gonzalez</h4>
                <p class="text-muted" align="justify"><br><i>"What makes this service unique is that the editing is tailored for me. The editors understand my needs and helped make revisions that were highly personalized. BeamDox made my resume stand out in terms of structure and clarity. Recruiters complimented my resume."</i>
                <p class="text-muted" align="right"><strong>~MIT Sloan, MBA 2015</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Aaron1.png", class: "img-responsive img-circle" %>
                <h4>Aaron Wilkinson</h4>
                <p class="text-muted" align="justify"><br><i>"I thought my resume was decent until I submitted to BeamDox. The service helped me to understand that my resume shouldn't be a laundry list of achievements. Instead, the editors recommended a cohesive body of accomplishments that was compelling for the position I was applying to.</i>
                <p class="text-muted" align="right"><strong>~Stanford GSB, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Serena1.png", class: "img-responsive img-circle" %>
                <h4>Serena Grieves</h4>
                <p class="text-muted" align="justify"><br><i>"I was applying to HBS and needed some critical feedback on my application essay. I turned in a draft to BeamDox, and received a very granular edit. They go beyond grammar, vocabulary, sentence structure, etc. Beamdox helped me to build a narrative to truly reflect my story."</i>
                <p class="text-muted" align="right"><strong>~HBS, MBA 2017</strong></p>
            </div>
        </div>
    </div>
</aside>

<!-- Submit Section -->
<section id="submit" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Submit Documents</h2>
            </div>
            <div class="col-md-6 col-centered">
                <h3 class="section-subheading text-muted" align="justify"><br><br>Submit your <strong>resumes</strong>, <strong>cover letters</strong>, and <strong>application essays</strong> for review.<br><br>You will receive edits <strong>within 24 hours of submission</strong>.<br><br>To attach multiple files, make sure that all files of the same type are already in the same folder. Click "Browse" and locate that folder. Then select all files and press "Open." You should see multiple file icons appear.<br><br>Make sure to add detailed comments about your files in the comment boxes so we understand your specific needs!<br><br>Once you have selected your documents, click the "Submit & Pay" button. You will receive a confirmation email. <br><br>Acceptable file formats include: <strong>.pdf</strong>, <strong>.docx</strong>, <strong>.doc</strong> and <strong>.txt.</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3"> 
              <%= form_for @submission, multipart: true do |f| %>
                <div class="row">
                  <div id="cover_letters" class="form-group">
                    <%= f.label :cover_letters, "Cover Letters" %>
                    <%= f.file_field :cover_letters, multiple: true, type: :file, class: 'form-control submission_file cover_letter' %>
                  </div>
                  <div id="resumes" class="form-group">
                    <%= f.label :resumes %>
                    <%= f.file_field :resumes, multiple: true, type: :file, class: 'form-control submission_file resume' %>
                  </div>
                  <div id="essays" class="form-group">
                    <%= f.label :essays %>
                    <%= f.file_field :essays, multiple: true, type: :file, class: 'form-control submission_file essay' %>
                  </div>
                </div>

                <div class="row total-price">
                  <h4>Total Price: <span id="total_price">0</span></h4>
                </div>  

                <div class='row text-center'>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="Submit Documents"
                          data-label="Submit &amp Pay"></script>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; BeamDox 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <%= image_tag "portfolio/resume-process.png", class: "img-responsive img-centered" %>
                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <p>
                            <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                        <ul class="list-inline">
                            <li>Date: July 2014</li>
                            <li>Client: Round Icons</li>
                            <li>Category: Graphic Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Heading</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <%= image_tag "portfolio/startup-framework-preview.png", class: "img-responsive img-centered" %>
                        <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                        <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <%= image_tag "portfolio/treehouse-preview.png", class: "img-responsive img-centered" %>
                        <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <%= image_tag "portfolio/golden-preview.png", class: "img-responsive img-centered" %>
                        <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <%= image_tag "portfolio/escape-preview.png", class: "img-responsive img-centered" %>
                        <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <%= image_tag "portfolio/dreams-preview.png", class: "img-responsive img-centered" %>
                        <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>