<%= form_for @submission, multipart: true do |f| %>
  <div class="row">
    Name: <%= f.text_field :name %></br>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <h4>Cover Letter</h4>
    </div>
    <div class="col-md-4 text-center">
      <h4>Resume</h4>
    </div>
    <div class="col-md-4 text-center">
      <h4>Essays</h4>
    </div>
  </div>

  <div class="row">
    <div id="cover_letters" class="col-md-4">
      <%= f.fields_for @cover_letter do |d| %>
        File Upload <%= d.attachment_field :text_file, direct: true, class: 'cover_letter' %>
      <% end %>
    </div>
    <div id="resumes" class="col-md-4">
      File Upload <%= f.file_field :resume_attributes, class: 'resume' %>
    </div>
    <div id="essays" class="col-md-4">
      File Upload <%= f.file_field :essay_attributes, class: 'essay' %>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-4">
      <a id="add_cover_letter" href='#'>Add another</a>
    </div>
    <div class="col-md-4">
      <a id="add_resume" href='#'>Add another</a>
    </div>
    <div class="col-md-4">
      <a id="add_essay" href='#'>Add another</a>
    </div>
  </div> 

  <div class="row">
    <%= image_tag attachment_url(@cover_letter, :text_file) %>
    Total Price: <span id="total_price">0</span>
    <%= f.hidden_field :amount %>
  </div>  

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>