<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="logos/favicon-ico.ico">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <div class="logo">
            <a class="navbar-brand page-scroll logo-center" href="#page-top"><%= image_tag 'logos/newlogo5.jpg' %></a>
        </div>    
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#process">Process</a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#prices">Prices</a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#team">Team</a>
                </li>
                  
                <% if signed_in? %>
                  <li>
                    <%= link_to "Documents", profile_documents_path, :class => 'nav-link' %>
                  </li>
                  <li role='presentation' class='dropdown'>
                    <a class='dropdown-toggle nav-link' data-toggle='dropdown' href='#' role='button' aria-expanded='false'>
                    Profile <span class='caret'></span>
                    </a>
                  <ul class='dropdown-menu dropdown-menu-width' role='menu' aria-labelledby='dropdownMenu1'>
                    <li role="presentation" class="text-right"><%= link_to "Settings", edit_profile_path %></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="text-right"><%= link_to 'Log out', destroy_user_session_path, method: :delete, role: "menuitem", tabindex: "-1" %>
                  </li>
                <% else %>
                  <li>
                      <%= link_to "Sign Up", '#', :data => {:toggle => 'modal', :target => '.signup-modal'}, :class => 'highlighted-link nav-link'%>
                  </li>                
                  <li>
                      <%= link_to "Log In", '#', :data => {:toggle => 'modal', :target => '.login-modal'}, :class => 'highlighted-link nav-link' %>
                  </li>                
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Signup modal -->
<div class='modal fade signup-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content modal-signup-body'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class='modal-title text-center'>Sign up with Beamdox</h4>
      </div>

      <div class='modal-body'>
        <button class='btn btn-primary center-block email-signup'>Sign up with Email</button>
        <br><div class='text-center'>OR</div><br>
        <%= link_to image_tag("fbsignup.jpg", class: 'img-responsive center-block'), user_omniauth_authorize_path(:facebook), class: 'facebook-login' %>
  </div>
</div>

<!-- Signup through email modal -->
<div class='modal fade email-signup-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class='modal-title text-center'>Sign up with Beamdox</h4>
      </div>

      <%= form_for :user, url: user_registration_path, :data => {:toggle => 'validator'} do |f| %>
        <div class='form-group'>
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :class => 'form-control', :placeholder => "Full Name", :required => true %>
          <div class="help-block with-errors"></div>
        </div>

        <div class='form-group'>
          <%= f.label :email, :class => 'control-label' %>
          <%= f.email_field :email, :class => 'form-control', :placeholder => "Email Address", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
          <div class="help-block with-errors">Email must follow a standard email format (e.g., 'brian@gmail.com').</div>
        </div>
        <div class='form-group'>
          <%= f.label :password, :class => 'control-label' %>
          <%= f.password_field :password, :id => 'inputPassword', :class => 'form-control', :placeholder => "Password", :required => true, :data => {:minlength => 8} %>
          <div class="help-block with-errors">Minimum of 8 characters</div>
        </div>

        <div class='form-group'>
          <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Confirm Password", :required => true, :data => {:match => '#inputPassword', :match_error => 'Passwords do not match.'} %>
          <div class="help-block with-errors">Must match the password field.</div>
        </div>

        <div class='form-group'>
          <%= f.label :timezone, :class => 'control-label' %>
          <%= f.collection_select :timezone, ActiveSupport::TimeZone.us_zones, :name, :to_s, {}, :class => 'form-control', :required => true %>
        </div>
        <%= f.submit "Sign Up", :class => 'btn btn-primary center-block' %>
      <% end %>
    </div>
  </div>
</div>


<!-- Login modal -->
<div class='modal fade login-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class='modal-title text-center'>Log In</h4>
      </div>
      <%= form_for :user, url: user_session_path, :data => {:toggle => 'validator'} do |f| %>
        <div class='form-group'>
          <%= f.label :email %>
          <%= f.email_field :email, :class => 'form-control', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
          <div class="help-block with-errors"></div>
        </div>

        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, :class => 'form-control', :required => true %>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>

        <%= f.submit "Log in", class: 'btn btn-primary center-block' %>
      <% end %>
      <div class='text-center'>
        Don't have an account? <%= link_to 'Sign up!', '#', :class => 'email-signup' %>
      </div>
      <div class='text-center'>OR</div>
      <%= link_to image_tag("facebook_login.png", class: 'facebook-login img-responsive center-block'), user_omniauth_authorize_path(:facebook) %>
    </div>
  </div>
</div>

<!-- Header -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
               <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol> -->

  <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                <img class="tales img-responsive img-centered" src='<%= asset_url('banner/bannerfirst.jpg') %>' alt="Chania">
                <div class="carousel-caption responsive">
                    <p class="title-font">DISTINGUISH<br>YOURSELF</p>
                
                
                    <a class="btn btn-large btn-primary" href="https://youtu.be/3icE8wHIj0A" data-toggle="lightbox" data-title="Welcome to BeamDox">Play</a>
                </div>
                </div>
                

                <div class="item">
                <img class="tales img-responsive img-centered" src='<%= asset_url('banner/bannersecond.jpg') %>' alt="Chania">   
                <div class="carousel-caption responsive">
                    <p class="title-font">WE WORK WHILE<br>YOU REST</p>
                    <a class="btn btn-large btn-primary" href="https://youtu.be/8oDfwbtkF3o" data-toggle="lightbox" data-title="BeamDox Team">Play</a>
                </div>
                </div>

                <div class="item">
                <img class="tales img-responsive img-centered" src='<%= asset_url('banner/bannerthird.jpg') %>' alt="Chania">   
                <div class="carousel-caption responsive">
                    <p class="title-font">IMPROVEMENTS<br>IN 24 HOURS</p>
                    <a class="btn btn-large btn-primary" href="https://youtu.be/8oDfwbtkF3o" data-toggle="lightbox" data-title="BeamDox Team">Play</a>
                </div>
                </div>

            </div>

  <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>
</header>


<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Editing Services</h2>
                <h3 class="section-subheading text-muted"><strong>Speed + Quality = Success</strong><br><br>Get revisions within <strong>24 hours</strong>.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil-square fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cover Letters</h4>
                <!-- <p class="text-muted" align="justify">Distinguish yourself from the crowd. We make your cover letters more memorable and attention-grabbing so that no recruiter will ignore you.</p>
                 --><ul class="text-muted services-padding" style="text-align:left">
                <li>Address Readers Professionally</li>
                <li>Communicate Motivation for Application</li>
                <li>Leverage Mutual Contacts</li>
                <li>Demonstrate Relevant Experience</li>
                <li>Apply Supporting Evidence</li>
                <li>Convey Good Fit for Position/Role</li>
                <li>Encourage Follow-up</li>
                <li>Maintain Appropriate Length</li>                
                <li>Balance Confidence and Humility</li>  
                </ul>                   
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Resumes/CV's</h4>
                <ul class="text-muted services-padding" style="text-align:left">
                <li>Fit Industry Standards & Norms</li>
                <li>Develop Coherent Career Narrative</li>
                <li>Quantify Achievements</li>
                <li>Highlight Relevant Skills</li>
                <li>Employ Compelling Examples</li>
                <li>Apply Proper Key Words</li>
                <li>Reduce Unnecessary Details</li>
                <li>Use White Space Intelligently</li>                
                <li>Create a Personal Touch</li>  
                </ul>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Application Essays</h4>
                <ul class="text-muted services-padding" style="text-align:left">
                <li>Attention-grabbing Introduction</li>
                <li>Substantive Body Paragraphs</li>
                <li>Memorable Conclusion</li>
                <li>Detailed Supporting Examples</li>
                <li>Appropriate Tone/Mood</li>
                <li>Clear Theme/Narrative</li>
                <li>Unique Personal Voice</li>
                <li>Proper Pacing</li>                
                <li>Balanced Emotional Appeal</li>  
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Before/After Grid Section -->

<section id="before" class="bg-light-gray">
    <div id='portfolio' class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Before &amp After</h2>
                <h3 class="section-subheading text-muted"><strong>Effective. Concrete. Improvements.</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/CL-thumb.jpg', class: 'img-responsive' %>
                </a>
                <div class="portfolio-card">
                <div class="section-subheading text-center">
                    <h4>Cover Letter Editing</h4>
                </div>
                <div class="portfolio-caption">
                    <p class="beforeandafter-font text-muted">Compose cover letters that build your personal brand. Clearly and concisely convince recruiters of your enthusiasm and fit for the company and the position.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/R-thumb.jpg', class: 'img-responsive' %>
                </a>
                <div class="portfolio-card">
                  <div class="section-subheading text-center">
                      <h4>Resume Design</h4>
                  </div>
                  <div class="portfolio-caption">
                      <p class="beforeandafter-font text-muted">A resume isn't a laundry list of items. It's a coherent body of skills, responsibilities, and results. A strong resume is a snapshot of your historical success and future potential.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/EssayThumb.jpg", class: "img-responsive" %>
                </a>
                <div class="portfolio-card">
                <div class="section-subheading text-center">
                    <h4>Essay Revision</h4>
                </div>
                <div class="portfolio-caption">
                    <p class="beforeandafter-font text-muted">The best essays are narratives. Like any good story, a strong essay has a beginning that hooks readers, a core with vivid details, and an unforgettable conclusion.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Process Section -->

<section id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Process</h2>
                <h3 class="section-subheading text-muted"><strong>Easy. Fast. Reliable.</strong><br><br></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <%= render "svg/upload_process" %>
                <h4 class="service-heading">1. Select & Upload</h4>
                <p class="text-muted" align="center">Upload your documents to BeamDox.</p>
             </div>
            <div class="col-md-4">
                <%= render "svg/edit_process" %>
                <h4 class="service-heading service-heading-edit">2. Edit</h4>
                <p class="text-muted" align="center">Specialists review your documents.</p>
            </div>
            <div class="col-md-4">
                <%= render "svg/download_process" %>
                <h4 class="service-heading">3. Download</h4>
                <p class="text-muted" align="center">Get quality revisions in 24 hours.</p>
            </div>
        </div>
    </div>
</section>

<section id="prices" class='bg-pricing'>
  <div class='container'>
    <div class='row'>
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">PRICES</h2>
        <h3 class="section-subheading text-muted"><strong>Simple prices. No Surprises.</strong></h3>
      </div>
    </div>
    <div class='col-md-4'>
      <%= render "svg/cover_letter_pricing" %>
    </div>
    <div class='col-md-4'>
      <%= render "svg/resume_pricing" %>
    </div>
    <div class='col-md-4'>
      <%= render "svg/essay_pricing" %>
    </div>
  </div>
</section>

<!-- success stories Aside -->
<section id="success_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Success Stories</h2>
                <h3 class="section-subheading text-muted"><strong>Results Speak Loudly.</strong></h3>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Wei1.jpg", class: "img-responsive img-circle" %>
                <h4>Wei Liu</h4>
                <p class="text-muted" align="justify"><br><i>"I sent my cover letters to BeamDox and got them back the next day. The quality is superb and the editors are fast. My cover letters got a lot of attention during my summer internship recruiting. They were differentiated from cookie-cutter templates and boilerplate formats."</i>
                <p class="text-muted" align="right"><strong>~ Wharton, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Maria1.jpg", class: "img-responsive img-circle" %>
                <h4>Maria Gonzalez</h4>
                <p class="text-muted" align="justify"><br><i>"What made BeamDox useful was that the editing was tailored for me. The editors understand my needs and helped to make revisions that were highly personalized. BeamDox made my resume stand out in terms of structure and clarity. Recruiters complimented my resume."</i>
                <p class="text-muted" align="right"><strong>~ MIT Sloan, MBA 2015</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Aaron1.jpg", class: "img-responsive img-circle" %>
                <h4>Aaron Wilkinson</h4>
                <p class="text-muted" align="justify"><br><i>"I thought my resume was decent until I submitted to BeamDox. The service helped me to understand that my resume shouldn't be a laundry list of achievements. Instead, the editors designed a cohesive structure of accomplishments that was compelling for the position I was applying to.</i>
                <p class="text-muted" align="right"><strong>~ Stanford GSB, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Serena1.jpg", class: "img-responsive img-circle" %>
                <h4>Serena Grieves</h4>
                <p class="text-muted" align="justify"><br><i>"I was applying to HBS and needed some critical feedback on my application essay. I turned in a draft to BeamDox, and received a very granular edit. They went beyond grammar, vocabulary, sentence structure, etc. Beamdox helped me to build a narrative to truly reflect my story."</i>
                <p class="text-muted" align="right"><strong>~ HBS, MBA 2017</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class='bg-light-gray'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted"><strong>Passionate. Energetic. Experts.</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                  <a href="#biochris" class="portfolio-link" data-toggle="modal">
                    <%= image_tag "team/chris.jpg", class: "img-responsive img-circle" %>
                  </a>
                  <h4>Chris Koo</h4>
                  
                  <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA 2015</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="#biopaul" class="portfolio-link" data-toggle="modal">
                    <%= image_tag "team/paul.jpg", class: "img-responsive img-circle" %>
                    </a>
                    <h4>Paul Zhao</h4>
                    <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA of 2015</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="#bioyoung" class="portfolio-link" data-toggle="modal">
                    <%= image_tag "team/3.jpg", class: "img-responsive img-circle" %>
                    </a>
                    <h4>Editorial Team</h4>
                    
                    <p class="text-muted"><i>100+ Specialists</i><br>Subject Matter Experts (SME)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" align="justify"><br>Our editoral team consists of a diverse group of <strong>SPECIALISTS</strong>. All of them are professionals who possess real-world experience in various <strong>industries and functions, Fortune 500 firms and startups, as well as admissions boards and career consultancies</strong>. Our editors command <strong>CURRENT</strong> and <strong>RELEVANT</strong> recruiting, application, and admissions knowledge norms. They bring unparalleled <strong>DOMAIN EXPERTISE</strong> to resume, cover letter, and essay editing.</p>
            </div>
        </div>
    </div>
</section>

<section id="aboutus">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">About Us</h2>
      <h3 class="section-subheading text-muted"><strong>Trust us, we've been in your shoes.</strong></h3>
      <a data-toggle="collapse" data-parent="accordian" href="#section2">
      <button type="button" class="btn btn-info button-margin" data-toggle="collapse" data-target="#demo">Unfold Our Story</button>
       <!--  <i class="fa fa-angle-double-down fa-5x"></i> -->
      </a>
    </div>
  </div>

<div class="container collapse" id="section2">
  <div class="row">
    <div class="col-xs-12 vertical-align">
      <div class="col-xs-3 col-sm-2"> <i class="fa fa-plus-circle fa-5x"></i> </div>
      <div class="col-xs-7 col-sm-8"> <h4>A Real-world Problem</h4><p class="text-justify">We matriculated into HBS in August, 2013. By November, we were already busy

        preparing applications to summer 2014 internships. We quickly discovered that on-

        campus career services were slow, impersonal, and generic. External options for 

        feedback led to low quality, high-expense, and inconvenient experiences. We weren’t 

        the only ones who felt this way.</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 vertical-align">
        <div class="col-xs-3 col-sm-2"> <i class="fa fa-plus-circle fa-5x"></i> </div>
        <div class="col-xs-7 col-sm-8"><h4>Taking Initiative</h4><p class="text-justify">We took matters into their own hands, forming a group of students who had

          experience in various industries and roles. Together, we critically reviewed and edited 

          each other’s resumes and cover letters. By January, we had developed a system for 

          editing that leveraged domain expertise. Because of time pressure, we made 24-hr 

          feedback a priority in addition to quality.</p> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 vertical-align">
          <div class="col-xs-3 col-sm-2"> <i class="fa fa-plus-circle fa-5x"></i> </div>
          <div class="col-xs-7 col-sm-8"> <h4>The Moment of Truth</h4><p class="text-justify">Armed with polished application documents, every member of the peer editing group

            began to submit to summer internships. The applications were diverse, ranging from 

            financial services, to consulting firms, Fortune 500 corporations to hot startups, non-

            profit to government. Within two weeks, our applications were yielding more interview 

            invitations compared to that of peers who had relied solely on campus career or 

            external services.</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 vertical-align">
          <div class="col-xs-3 col-sm-2"> <i class="fa fa-plus-circle fa-5x"></i> </div>
          <div class="col-xs-7 col-sm-8"> <h4>The Birth of BeamDox</h4><p class="text-justify">In September 2014, we started building BeamDox, a fast and high quality editing

            service for cover letters, resumes, and essays. We began staffing our operations with 

            expert editors who possessed deep career experience in various industries and sectors. 

            BeamDox officially launched on December 2014.</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 vertical-align">
          <div class="col-xs-3 col-sm-2"> <i class="fa fa-plus-circle fa-5x"></i> </div>
          <div class="col-xs-7 col-sm-8"><h4>Your Career, Our Mission</h4><p class="text-justify">Today, BeamDox has edited over 50,000 documents from students and job-seekers

            around the world. In less than two years, we have built a team of over 100 talented 

            editors with specialties, and established an agile and responsive matching system to 

            meet our customer’s unique editing needs. Our guarantee is 24-hour revisions. We 

            have met 100% of our promise so far.</p> </div>
          </div>
        </div>
      </div>
      </section>

<!--timeline-->
<!-- <section id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
        <h3 class="section-subheading text-muted"><strong>Trust us, we've been in your shoes.</strong></h3>
        <a data-toggle="collapse" data-parent="accordian" href="#section2">
        <i class="fa fa-angle-double-down fa-5x"></i>
        </a>
      </div>
      <div class="panel-group" id="accordian">
        <div class="panel-collapse collpase" id="section1">
          <div class="panel-body">
            <div class="col-lg-12 aboutus-parent">
              <div class="col-md-2 text-center aboutus-child">
                <i class="fa fa-plus-circle fa-5x"></i>
              </div>
              <div class="col-md-8 large" align="justify">
              <h4>A Real-world Problem</h4><p>We matriculated into HBS in August, 2013. By November, we were already busy

              preparing applications to summer 2014 internships. We quickly discovered that on-

              campus career services were slow, impersonal, and generic. External options for 

              feedback led to low quality, high-expense, and inconvenient experiences. We weren’t 

              the only ones who felt this way.</p> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-center">
              <i class="fa fa-plus-circle fa-5x"></i>
            </div>
            <div class="col-md-8 large" align="justify">
              <h4>Taking Initiative</h4><p>We took matters into their own hands, forming a group of students who had

              experience in various industries and roles. Together, we critically reviewed and edited 

              each other’s resumes and cover letters. By January, we had developed a system for 

              editing that leveraged domain expertise. Because of time pressure, we made 24-hr 

              feedback a priority in addition to quality.</p> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-center">
              <i class="fa fa-plus-circle fa-5x"></i>
            </div>
            <div class="col-md-8 large" align="justify">
              <h4>The Moment of Truth</h4><p>Armed with polished application documents, every member of the peer editing group

              began to submit to summer internships. The applications were diverse, ranging from 

              financial services, to consulting firms, Fortune 500 corporations to hot startups, non-

              profit to government. Within two weeks, our applications were yielding more interview 

              invitations compared to that of peers who had relied solely on campus career or 

              external services.</p> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-center">
              <i class="fa fa-plus-circle fa-5x"></i>
            </div>
            <div class="col-md-8 large" align="justify">
              <h4>The Birth of BeamDox</h4><p>In September 2014, we started building BeamDox, a fast and high quality editing

              service for cover letters, resumes, and essays. We began staffing our operations with 

              expert editors who possessed deep career experience in various industries and sectors. 

              BeamDox officially launched on December 2014.</p> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-center">
              <i class="fa fa-plus-circle fa-5x"></i>
            </div>
            <div class="col-md-8 large" align="justify">
              <h4>Your Career, Our Mission</h4><p>Today, BeamDox has edited over 50,000 documents from students and job-seekers

              around the world. In less than two years, we have built a team of over 100 talented 

              editors with specialties, and established an agile and responsive matching system to 

              meet our customer’s unique editing needs. Our guarantee is 24-hour revisions. We 

              have met 100% of our promise so far.</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
 -->



<!-- Script Initialize -->
<script type="text/javascript" charset="utf-8">
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
}); 
</script>


<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Cover Letter Editing</h2>
                        <p class="item-intro text-muted"><strong>Impactful. Memorable. Persuasive.</strong></p>
                        <p class="item-intro text-muted"></p>
                        <%= image_tag "portfolio/CL-expanded.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-before.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-during.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-after.jpg", class: "img-responsive img-centered" %>
                        <p align="justify">Build a memorable personal brand by writing clear and persuasive cover letters. Convince recruiters of your enthusiasm so they will engage your resume/CV.</p>
                    
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <h2>Resume Design</h2>
                        <p class="item-intro text-muted"><strong>Clear. Focused. Coherent.</strong></p>
                        <p class="item-intro text-muted"></p>
                        <%= image_tag "portfolio/R-expanded.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-before.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-during.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-after.jpg", class: "img-responsive img-centered" %>
                        <p align="justify">A resume isn't a laundry list of items. It's a coherent body of skills, responsibilities, and results. A strong resume is a snapshot of your history of success and an indication of future potential.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Essay Revision</h2>
                        <p class="item-intro text-muted"><strong>Compelling. Personal. Distinctive.</strong></p>
                        <%= image_tag "portfolio/EssayExpanded.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-before.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-during.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-after.jpg", class: "img-responsive img-centered" %>
                        <p align="justify">The best essays are narratives. Like any good story, a great essay has a beginning that hooks readers, a core with vivid details, and an unforgettable conclusion.</p>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Chris Modal 6 -->
<div class="portfolio-modal modal fade" id="biochris" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="terms">
                        <%= render "refund_policy" %>
                      </div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Paul Modal 6 -->
<div class="portfolio-modal modal fade" id="biopaul" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="terms">
                        <%= render "refund_policy" %>
                      </div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Young Modal 6 -->
<div class="portfolio-modal modal fade" id="bioyoung" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="terms">
                        <%= render "refund_policy" %>
                      </div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
