<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="logos/favicon-ico.ico">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <div class="logo">
            <a class="navbar-brand page-scroll logo-center" href="#page-top"><%= image_tag 'logos/newlogo5.jpg' %></a>
        </div>    
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#process">Process</a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#prices">Prices</a>
                </li>
                <li>
                    <a class="page-scroll nav-link" href="#team">Team</a>
                </li>
                  
                <% if signed_in? %>
                  <li>
                    <%= link_to "Documents", profile_documents_path, :class => 'nav-link' %>
                  </li>
                  <li role='presentation' class='dropdown'>
                    <a class='dropdown-toggle nav-link' data-toggle='dropdown' href='#' role='button' aria-expanded='false'>
                    Profile <span class='caret'></span>
                    </a>
                  <ul class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu1'>
                    <li role="presentation" class="text-center"><%= link_to "Settings", edit_profile_path %></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="text-center"><%= link_to 'Log out', destroy_user_session_path, method: :delete, role: "menuitem", tabindex: "-1" %>
                  </li>
                <% else %>
                  <li>
                      <%= link_to "Sign Up", '#', :data => {:toggle => 'modal', :target => '.signup-modal'}, :class => 'highlighted-link nav-link'%>
                  </li>                
                  <li>
                      <%= link_to "Log In", '#', :data => {:toggle => 'modal', :target => '.login-modal'}, :class => 'highlighted-link nav-link' %>
                  </li>                
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Signup modal -->
<div class='modal fade signup-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class='modal-title text-center'>Sign up with Beamdox</h4>
      </div>

      <div class='modal-body'>
        <button class='btn btn-primary center-block email-signup'>Sign up with Email</button>
        <div class='text-center'>or</div>
        <%= link_to image_tag("facebook_login.png", class: 'img-responsive center-block'), user_omniauth_authorize_path(:facebook), class: 'facebook-login' %>
      </div>
    </div>
  </div>
</div>

<!-- Signup through email modal -->
<div class='modal fade email-signup-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class='modal-title text-center'>Sign up with Beamdox</h4>
      </div>

      <%= form_for :user, url: user_registration_path, :data => {:toggle => 'validator'} do |f| %>
        <div class='form-group'>
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :class => 'form-control', :placeholder => "Full Name", :required => true %>
          <div class="help-block with-errors"></div>
        </div>

        <div class='form-group'>
          <%= f.label :email, :class => 'control-label' %>
          <%= f.email_field :email, :class => 'form-control', :placeholder => "Email Address", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
          <div class="help-block with-errors">Email must follow a standard email format (e.g., 'brian@gmail.com').</div>
        </div>
        <div class='form-group'>
          <%= f.label :password, :class => 'control-label' %>
          <%= f.password_field :password, :id => 'inputPassword', :class => 'form-control', :placeholder => "Password", :required => true, :data => {:minlength => 8} %>
          <div class="help-block with-errors">Minimum of 8 characters</div>
        </div>

        <div class='form-group'>
          <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Confirm Password", :required => true, :data => {:match => '#inputPassword', :match_error => 'Passwords do not match.'} %>
          <div class="help-block with-errors">Must match the password field.</div>
        </div>

        <div class='form-group'>
          <%= f.label :timezone, :class => 'control-label' %>
          <%= f.collection_select :timezone, ActiveSupport::TimeZone.us_zones, :name, :to_s, {}, :class => 'form-control', :required => true %>
        </div>
        <%= f.submit "Sign Up", :class => 'btn btn-primary center-block' %>
      <% end %>
    </div>
  </div>
</div>


<!-- Login modal -->
<div class='modal fade login-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class='modal-title text-center'>Log In</h4>
      </div>
      <%= form_for :user, url: user_session_path, :data => {:toggle => 'validator'} do |f| %>
        <div class='form-group'>
          <%= f.label :email %>
          <%= f.email_field :email, :class => 'form-control', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
          <div class="help-block with-errors"></div>
        </div>

        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, :class => 'form-control', :required => true %>
          <div class="help-block with-errors"></div>
        </div>

        <%= f.submit "Log in", class: 'btn btn-primary center-block' %>
      <% end %>
      <div class='text-center'>
        Don't have an account? <%= link_to 'Sign up!', '#', :class => 'email-signup' %>
      </div>
      <div class='text-center'>or</div>
      <%= link_to image_tag("facebook_login.png", class: 'facebook-login img-responsive center-block'), user_omniauth_authorize_path(:facebook) %>
    </div>
  </div>
</div>

<!-- Header -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
               <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol> -->

  <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                <img class="tales img-responsive img-centered" src='<%= asset_url('banner/bannerfirst.jpg') %>' alt="Chania">
                <div class="carousel-caption responsive">
                    <p class="title-font">DISTINGUISH<br>YOURSELF</p>
                
                
                    <a class="btn btn-large btn-primary" href="https://youtu.be/3icE8wHIj0A" data-toggle="lightbox" data-title="Welcome to BeamDox">Play</a>
                </div>
                </div>
                

                <div class="item">
                <img class="tales img-responsive img-centered" src='<%= asset_url('banner/bannersecond.jpg') %>' alt="Chania">   
                <div class="carousel-caption responsive">
                    <p class="title-font">WE WORK WHILE<br>YOU REST</p>
                    <a class="btn btn-large btn-primary" href="https://youtu.be/8oDfwbtkF3o" data-toggle="lightbox" data-title="BeamDox Team">Play</a>
                </div>
                </div>

                <div class="item">
                <img class="tales img-responsive img-centered" src='<%= asset_url('banner/bannerthird.jpg') %>' alt="Chania">   
                <div class="carousel-caption responsive">
                    <p class="title-font">IMPROVEMENTS<br>IN 24 HOURS</p>
                    <a class="btn btn-large btn-primary" href="https://youtu.be/8oDfwbtkF3o" data-toggle="lightbox" data-title="BeamDox Team">Play</a>
                </div>
                </div>

            </div>

  <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>
</header>


<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Editing Services</h2>
                <h3 class="section-subheading text-muted"><strong>Speed + Quality = Success</strong><br><br>Get revisions within <strong>24 hours</strong>.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil-square fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cover Letters</h4>
                <!-- <p class="text-muted" align="justify">Distinguish yourself from the crowd. We make your cover letters more memorable and attention-grabbing so that no recruiter will ignore you.</p>
                 --><ul class="text-muted services-padding" style="text-align:left">
                <li>Address Readers Professionally</li>
                <li>Communicate Motivation for Application</li>
                <li>Leverage Mutual Contacts</li>
                <li>Demonstrate Relevant Experience</li>
                <li>Apply Supporting Evidence</li>
                <li>Convey Good Fit for Position/Role</li>
                <li>Encourage Follow-up</li>
                <li>Maintain Appropriate Length</li>                
                <li>Balance Confidence and Humility</li>  
                </ul>                   
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Resumes/CV's</h4>
                <ul class="text-muted services-padding" style="text-align:left">
                <li>Fit Industry Standards & Norms</li>
                <li>Develop Coherent Career Narrative</li>
                <li>Quantify Achievements</li>
                <li>Highlight Relevant Skills</li>
                <li>Employ Compelling Examples</li>
                <li>Apply Proper Key Words</li>
                <li>Reduce Unnecessary Details</li>
                <li>Use White Space Intelligently</li>                
                <li>Create a Personal Touch</li>  
                </ul>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Application Essays</h4>
                <ul class="text-muted services-padding" style="text-align:left">
                <li>Attention-grabbing Introduction</li>
                <li>Substantive Body Paragraphs</li>
                <li>Memorable Conclusion</li>
                <li>Detailed Supporting Examples</li>
                <li>Appropriate Tone/Mood</li>
                <li>Clear Theme/Narrative</li>
                <li>Unique Personal Voice</li>
                <li>Proper Pacing</li>                
                <li>Balanced Emotional Appeal</li>  
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Before/After Grid Section -->

<section id="before" class="bg-light-gray">
    <div id='portfolio' class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Before &amp After</h2>
                <h3 class="section-subheading text-muted"><strong>Effective. Concrete. Improvements.</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/CL-thumb.jpg', class: 'img-responsive' %>
                </a>
                <div class="portfolio-card">
                <div class="section-subheading text-center">
                    <h4>Cover Letter Editing</h4>
                </div>
                <div class="portfolio-caption">
                    <p class="beforeandafter-font text-muted">Compose cover letters that build your personal brand. Clearly and concisely convince recruiters of your enthusiasm and fit for the company and the position.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/R-thumb.jpg', class: 'img-responsive' %>
                </a>
                <div class="portfolio-card">
                  <div class="section-subheading text-center">
                      <h4>Resume Design</h4>
                  </div>
                  <div class="portfolio-caption">
                      <p class="beforeandafter-font text-muted">A resume isn't a laundry list of items. It's a coherent body of skills, responsibilities, and results. A strong resume is a snapshot of your historical success and future potential.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/EssayThumb.jpg", class: "img-responsive" %>
                </a>
                <div class="portfolio-card">
                <div class="section-subheading text-center">
                    <h4>Essay Revision</h4>
                </div>
                <div class="portfolio-caption">
                    <p class="beforeandafter-font text-muted">The best essays are narratives. Like any good story, a strong essay has a beginning that hooks readers, a core with vivid details, and an unforgettable conclusion.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Process Section -->

<section id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Process</h2>
                <h3 class="section-subheading text-muted"><strong>Easy. Fast. Reliable.</strong><br><br></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <%= render "svg/upload_process" %>
                <h4 class="service-heading">1. Select & Upload</h4>
                <p class="text-muted" align="center">Upload your documents to BeamDox.</p>
             </div>
            <div class="col-md-4">
                <%= render "svg/edit_process" %>
                <h4 class="service-heading">2. Edit</h4>
                <p class="text-muted" align="center">Specialists review your documents.</p>
            </div>
            <div class="col-md-4">
                <%= render "svg/download_process" %>
                <h4 class="service-heading">3. Download</h4>
                <p class="text-muted" align="center">Get quality revisions in 24 hours.</p>
            </div>
        </div>
    </div>
</section>

<section id="prices" class='bg-pricing'>
  <div class='container'>
    <div class='row'>
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">PRICES</h2>
        <h3 class="section-subheading text-muted"><strong>Simple prices. No Surprises.</strong></h3>
      </div>
    </div>
    <div class='col-md-4'>
      <%= render "svg/cover_letter_pricing" %>
    </div>
    <div class='col-md-4'>
      <%= render "svg/resume_pricing" %>
    </div>
    <div class='col-md-4'>
      <%= render "svg/essay_pricing" %>
    </div>
  </div>
</section>

<!-- success stories Aside -->
<section id="success_story" class="clients bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Success Stories</h2>
                <h3 class="section-subheading text-muted"><strong>Results Speak Loudly.</strong></h3>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Wei1.jpg", class: "img-responsive img-circle" %>
                <h4>Wei Liu</h4>
                <p class="text-muted" align="justify"><br><i>"I sent my cover letters to BeamDox and got them back the next day. The quality is superb and the editors are fast. My cover letters got a lot of attention during my summer internship recruiting. They were differentiated from cookie-cutter templates and boilerplate formats."</i>
                <p class="text-muted" align="right"><strong>~ Wharton, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Maria1.jpg", class: "img-responsive img-circle" %>
                <h4>Maria Gonzalez</h4>
                <p class="text-muted" align="justify"><br><i>"What made BeamDox useful was that the editing was tailored for me. The editors understand my needs and helped to make revisions that were highly personalized. BeamDox made my resume stand out in terms of structure and clarity. Recruiters complimented my resume."</i>
                <p class="text-muted" align="right"><strong>~ MIT Sloan, MBA 2015</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Aaron1.jpg", class: "img-responsive img-circle" %>
                <h4>Aaron Wilkinson</h4>
                <p class="text-muted" align="justify"><br><i>"I thought my resume was decent until I submitted to BeamDox. The service helped me to understand that my resume shouldn't be a laundry list of achievements. Instead, the editors designed a cohesive structure of accomplishments that was compelling for the position I was applying to.</i>
                <p class="text-muted" align="right"><strong>~ Stanford GSB, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Serena1.jpg", class: "img-responsive img-circle" %>
                <h4>Serena Grieves</h4>
                <p class="text-muted" align="justify"><br><i>"I was applying to HBS and needed some critical feedback on my application essay. I turned in a draft to BeamDox, and received a very granular edit. They went beyond grammar, vocabulary, sentence structure, etc. Beamdox helped me to build a narrative to truly reflect my story."</i>
                <p class="text-muted" align="right"><strong>~ HBS, MBA 2017</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted"><strong>Passionate. Energetic. Experts.</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                  <a href="#biochris" class="portfolio-link" data-toggle="modal">
                    <%= image_tag "team/chris.jpg", class: "img-responsive img-circle" %>
                  </a>
                  <h4>Chris Koo</h4>
                  
                  <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA 2015</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="#biopaul" class="portfolio-link" data-toggle="modal">
                    <%= image_tag "team/paul.jpg", class: "img-responsive img-circle" %>
                    </a>
                    <h4>Paul Zhao</h4>
                    <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA of 2015</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="#bioyoung" class="portfolio-link" data-toggle="modal">
                    <%= image_tag "team/3.jpg", class: "img-responsive img-circle" %>
                    </a>
                    <h4>Editorial Team</h4>
                    
                    <p class="text-muted"><i>100+ Specialists</i><br>Subject Matter Experts (SME)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" align="justify"><br>Our editoral team consists of a diverse group of <strong>SPECIALISTS</strong>. All of them are professionals who possess real-world experience in various <strong>industries and functions, Fortune 500 firms and startups, as well as admissions boards and career consultancies</strong>. Our editors command <strong>CURRENT</strong> and <strong>RELEVANT</strong> recruiting, application, and admissions knowledge norms. They bring unparalleled <strong>DOMAIN EXPERTISE</strong> to resume, cover letter, and essay editing.</p>
            </div>
        </div>
    </div>
</section>



<!--timeline-->

<section id="ourstory" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Story</h2>
        <h3 class="section-subheading text-muted"><strong>Trust us, we've been in your shoes.</strong></h3>
      </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-heartbeat"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">August, 2013</h4>
            </div>
            <div class="timeline-body">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <i class="fa fa-chevron-down"></i> HUMBLE BEGINNINGS 
                   </a>
                 </h4>
               </div>
               <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body success_content">
                  Chris and I matriculated into HBS in August, 2013. By November, we were busy preparing applications to summer 2014 internships. As we began writing resumes and cover letters, we sought out on-campus career resources for improvements. Unfortunately, the feedback was slow, limited, and impersonal. We explored external solutions, but found most services to be expensive, low quality, and laborious as well. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge warning"><i class="fa fa-share-alt-square"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">January, 2014</h4>
          </div>
          <div class="timeline-body">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-chevron-down"></i> TAKING INITIATIVE 
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body success_content">
                  Unwilling to leave our careers to chance, we formed a group of students and friends who had experience in various industries and roles. Then, we peer reviewed each other’s resumes and cover letters, providing critical feedback and advice. To truly improve, we were brutally honest with each other. By January, we had developed an agile and effective editing system with designated domain experts.
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="fa fa-paper-plane"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">March, 2014</h4>
          </div>
          <div class="timeline-body">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                   <i class="fa fa-chevron-down"></i> GAINING MOMENTUM   
                 </a>
               </h4>
             </div>
             <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body success_content">
                With polished resumes and cover letters submitted, everyone in the group started receiving interview offers. This was an encouraging sign that demonstrated the proficiency of our editing system. By end of March, almost everyone in our group had multiple internship offers in hand. Chris and I knew we were onto something valuable, and we decided to build a focused editing service.
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge warning"><i class="fa fa-rocket"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">October, 2014</h4>
        </div>
        <div class="timeline-body">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                 <i class="fa fa-chevron-down"></i> READY, SET, LAUNCH 
               </a>
             </h4>
           </div>
           <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body success_content">
              After our internships, Chris and I returned to HBS to build BeamDox, which officially launched on October, 2014. Our goal was to provide a convenient, fast, and high-quality editing service to anyone who wanted critical feedback and improvements to their resumes and cover letters. Soon after, we also launched an essay editing component to assist students applying to graduate schools.
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="timeline-inverted">
    <div class="timeline-badge warning"><i class="fa fa-diamond"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Today</h4>
      </div>
      <div class="timeline-body">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <i class="fa fa-chevron-down"></i> CREATING VALUE 
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body success_content">
              BeamDox has edited over 50,000 documents from students, job-seekers, and applicants around the world. We have an incredible team of 100 talented editors who possess specialized industry and functional knowledge. Some have worked at  Fortune 500 firms, while others at hot startups. We have completed every edit within 24 hours. That’s our guarantee – quality and speed. We are obsessed with concrete feedback and we are brutally honest with our critique.
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge warning"><i class="fa fa-trophy"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Future</h4>
      </div>
      <div class="timeline-body">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <i class="fa fa-chevron-down"></i> THE GREAT BEYOND 
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body success_content">
              Talented people are everywhere. But it’s hard to distinguish yourself from the competition. So the job hunting process doesn’t have to be zero-sum. We believe that properly highlighting skills and experiences will distinuish everyone to optimize the application-to-company fit. Therefore, it’s imperative that your resumes and cover letters powerfully and accurately reflect your capabilities, assets, and value. Welcome to BeamDox!
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</div>
</section>


<!-- Script Initialize -->
<script type="text/javascript" charset="utf-8">
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
}); 
</script>


<footer class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; BeamDox 2015</span>
            </div>
            <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    <li><a href="http://www.twitter.com/beamdox"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="http://www.facebook.com/beamdox"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/channel/UCnsJ3nvbcf0Q-ZyJRdI1yuQ"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks" >
                    <li><a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Privacy Policy</a></li>
                    <li><a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">Terms of Service</a></li>
                    <li><a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">Refund Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Cover Letter Editing</h2>
                        <p class="item-intro text-muted"><strong>Impactful. Memorable. Persuasive.</strong></p>
                        <p class="item-intro text-muted"></p>
                        <%= image_tag "portfolio/CL-expanded.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-before.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-during.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-after.jpg", class: "img-responsive img-centered" %>
                        <p align="justify">Build a memorable personal brand by writing clear and persuasive cover letters. Convince recruiters of your enthusiasm so they will engage your resume/CV.</p>
                    
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <h2>Resume Design</h2>
                        <p class="item-intro text-muted"><strong>Clear. Focused. Coherent.</strong></p>
                        <p class="item-intro text-muted"></p>
                        <%= image_tag "portfolio/R-expanded.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-before.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-during.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-after.jpg", class: "img-responsive img-centered" %>
                        <p align="justify">A resume isn't a laundry list of items. It's a coherent body of skills, responsibilities, and results. A strong resume is a snapshot of your history of success and an indication of future potential.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Essay Revision</h2>
                        <p class="item-intro text-muted"><strong>Compelling. Personal. Distinctive.</strong></p>
                        <%= image_tag "portfolio/EssayExpanded.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-before.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-during.jpg", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-after.jpg", class: "img-responsive img-centered" %>
                        <p align="justify">The best essays are narratives. Like any good story, a great essay has a beginning that hooks readers, a core with vivid details, and an unforgettable conclusion.</p>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="terms">
                          <%= render "privacy_policy" %>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="terms">
                          <%= render "terms_of_service" %>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="terms">
                        <%= render "refund_policy" %>
                      </div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Chris Modal 6 -->
<div class="portfolio-modal modal fade" id="biochris" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="terms">
                        <%= render "refund_policy" %>
                      </div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Paul Modal 6 -->
<div class="portfolio-modal modal fade" id="biopaul" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="terms">
                        <%= render "refund_policy" %>
                      </div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Young Modal 6 -->
<div class="portfolio-modal modal fade" id="bioyoung" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="terms">
                        <%= render "refund_policy" %>
                      </div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
