<%= form_for @submission, multipart: true do |f| %>
  <div class="row">
    Name: <%= f.text_field :name %></br>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <h4>Cover Letter</h4>
    </div>
    <div class="col-md-4 text-center">
      <h4>Resume</h4>
    </div>
    <div class="col-md-4 text-center">
      <h4>Essays</h4>
    </div>
  </div>

  <div class="row">
    <div id="cover_letters" class="col-md-4">
      <%= f.file_field :cover_letters, multiple: true, type: :file, class: 'submission_file cover_letter' %>
    </div>
    <div id="resumes" class="col-md-4">
      <%= f.file_field :resumes, multiple: true, type: :file, class: 'submission_file resume' %>
    </div>
    <div id="essays" class="col-md-4">
      <%= f.file_field :essays, multiple: true, type: :file, class: 'submission_file essay' %>
    </div>
  </div> 

  <div class="row">
    Total Price: <span id="total_price">0</span>
  </div>  

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"></script>
<% end %>