
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <div class="logo">
            <a class="navbar-brand page-scroll logo-center" href="#page-top">
                <%= image_tag 'logos/small-bolt.png', class: 'img-responsive'%>
               
            </a>
        </div>    
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Before & After</a>
                </li>
                <li>
                    <a class="page-scroll" href="#process">Process</a>
                </li>
                <li>
                    <a class="page-scroll" href="#submit">Submit</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
               <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol> -->

  <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                <img class="tales img-responsive img-centered" src='<%= asset_url('logos/banner-option1a.jpg') %>' alt="Chania">   
                <div class="carousel-caption responsive">
                    <p class="title-font">SPEEDY. QUALITY. EDITS.</p><br><br>
                    <a class="btn btn-large btn-primary" href="https://youtu.be/3icE8wHIj0A" data-toggle="lightbox">Play</a>
                </div>
                </div>

                <div class="item">
                <img class="tales img-responsive img-centered" src='<%= asset_url('logos/banner-option2-b.jpg') %>' alt="Chania">   
                <div class="carousel-caption responsive">
                    <p class="title-font">RESUMES. COVER LETTERS. ESSAYS</p><br><br>
                    <a class="btn btn-large btn-primary" href="https://youtu.be/BwRKCXhEVRE" data-toggle="lightbox">Play</a>
                </div>
                </div>


            </div>

  <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>
</header>


<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted"><strong>Speed + Quality = Success</strong><br><br>Get revisions within <strong>24 hours</strong>.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil-square fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cover Letters</h4>
                <!-- <p class="text-muted" align="justify">Distinguish yourself from the crowd. We make your cover letters more memorable and attention-grabbing so that no recruiter will ignore you.</p>
                 --><ul class="text-muted services-padding" style="text-align:left">
                <li>Address Readers Professionally</li>
                <li>Communicate Motivation for Application</li>
                <li>Leverage Mutual Contacts</li>
                <li>Demonstrate Relevant Skills</li>
                <li>Apply Relevant Supporting Details</li>
                <li>Convey Good Fit for Position/Role</li>
                <li>Encourage Follow-up</li>
                <li>Maintain Appropriate Length</li>                
                <li>Balance Confidence and Humility</li>  
                </ul>                   
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Resumes/CV's</h4>
                <!-- <p class="text-muted" align="justify">Design clear and structured resumes. We enable your resume to highlight your most impressive skills, assets, and achievements.</p>
                 --><ul class="text-muted services-padding" style="text-align:left">
                <li>Fit Industry Standards & Norms</li>
                <li>Develop Coherent Career Narrative</li>
                <li>Quantify Achievements</li>
                <li>Highlight Relevant Skills</li>
                <li>Employ Compelling Examples</li>
                <li>Apply Proper Key Words</li>
                <li>Reduce Unnecessary Details</li>
                <li>Use White Space Intelligently</li>                
                <li>Create a Personal Touch</li>  
                </ul>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Application Essays</h4>
                <!-- <p class="text-muted" align="justify">Everyone's story is unique. Your application essay is an opportunity to get personal. We help streamline narratives that reflect your complete character.</p>
                 --><ul class="text-muted services-padding" style="text-align:left">
                <li>Attention-grabbing Introduction</li>
                <li>Substantive Body Paragraphs</li>
                <li>Memorable Conclusion</li>
                <li>Detailed Supporting Examples</li>
                <li>Appropriate Tone/Mood</li>
                <li>Clear Theme/Narrative</li>
                <li>Unique Personal Voice</li>
                <li>Proper Pacing</li>                
                <li>Balanced Emotional Appeal</li>  
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Before/After Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Before &amp After</h2>
                <h3 class="section-subheading text-muted">Improvements in <strong>24 hours</strong>.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="section-subheading">
                    <p alig="right"><h4>Cover Letter Editing</h4></p>
                </div>
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/CL-thumb.png', class: 'img-responsive' %>
                </a>
                <div class="portfolio-caption">
                    <p class="beforeandafter-font">First impressions matter. Your cover letter is your self-introduction. A powerful cover letter is a firm handshake, a vibrant smile, and confident eye contact. Maximize this opportunity to make yourself memorable so that recruiters will engage your resume.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="section-subheading">
                    <p alig="right"><h4>Resume Design</h4></p>
                </div>
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag 'portfolio/R-thumb.png', class: 'img-responsive' %>
                </a>
                <div class="portfolio-caption">
                    <p class="beforeandafter-font">A resume isn't a laundry list of items. It's a coherent body of skills, responsibilities, and results. Components reinforce each other and the whole is greater than the sum of its parts. A strong resume is a snapshot of your history of success and future potential.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="section-subheading">
                    <p alig="right"><h4>Essay Revision</h4></p>
                </div>
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "portfolio/EssayThumb.png", class: "img-responsive" %>
                </a>
                <div class="portfolio-caption">
                    <p class="beforeandafter-font">The best essays are narratives. Like any good story, a great essay has a beginning that hooks readers, a core with vivid details, and a conclusion that arouses further curiosity. Every effective essay focuses on something important about you and then fully develops that message.</p>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Process Section -->

<section id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Process</h2>
                <h3 class="section-subheading text-muted"><strong>Easy. Fast. Reliable.</strong><br><br></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-crosshairs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">1. Select</h4>
                <p class="text-muted" align="center">Select cover letters, resumes, or essays.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">2. Upload</h4>
                <p class="text-muted" align="center">Upload your documents to BeamDox.</p>
             </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">3. Edit</h4>
                <p class="text-muted" align="center">Specialists review your documents.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">4. Download</h4>
                <p class="text-muted" align="center">Check your inbox within 24 hours.</p>
            </div>
        </div>
    </div>
</section>


<!-- Submit Section -->
<section id="submit" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Submit Documents</h2>
            </div>
            <div class="col-md-6 col-centered">
                <h3 class="section-subheading text-muted" align="justify"><br><br>Submit your <strong>resumes</strong>, <strong>cover letters</strong>, and <strong>application essays</strong> for review.<br><br>You will receive edits <strong>within 24 hours of submission</strong>.<br><br>To attach multiple files, ensure all files of the same type in the same folder. Click "Browse" and locate that folder. Then select all files and press "Open." You should see multiple file icons appear.<br><br>Make sure to add detailed comments about your files in the comment boxes so we understand your specific needs!<br><br>Once you have selected your documents, click the "Submit & Pay" button. You will receive a confirmation email. <br><br>Acceptable file formats include: <strong>.pdf</strong>, <strong>.docx</strong>, <strong>.doc</strong> and <strong>.txt.</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3"> 
              <%= form_for @submission, multipart: true do |f| %>
                <div class="row">
                  <div id="phone_number" class="form-group">
                    <%= f.label :phone_number, "Phone Number" %>
                    <%= f.text_field :phone_number, :required => true, class: 'form-control' %>
                  </div>

                  <div id="cover_letters" class="form-group">
                    <%= f.label :cover_letters, "Cover Letters" %>
                    <%= f.file_field :cover_letters, multiple: true, type: :file, class: 'form-control submission_file cover_letter' %>
                    <%= f.text_area :cover_letter_description, class: 'form-control', placeholder: "Enter details about the cover letters you have attached here..." %>
                  </div>
                  <div id="resumes" class="form-group">
                    <%= f.label :resumes %>
                    <%= f.file_field :resumes, multiple: true, type: :file, class: 'form-control submission_file resume' %>
                    <%= f.text_area :resume_description, class: 'form-control', placeholder: "Enter details about the resumes you have attached here..." %>
                  </div>
                  <div id="essays" class="form-group">
                    <%= f.label :essays %>
                    <%= f.file_field :essays, multiple: true, type: :file, class: 'form-control submission_file essay' %>
                    <%= f.text_area :essay_description, class: 'form-control', placeholder: "Enter details about the essays you have attached here..." %>
                  </div>
                </div>

                <div class="row total-price">
                  <h4>Total Price: <span id="total_price">0</span></h4>
                </div>  

                <div class='row text-center'>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="Submit Documents"
                          data-label="Submit &amp Pay"></script>
                        
                </div>
              <% end %>
            </div>
        </div>
    </div>
</section>


<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Passionate. Energetic. Driven.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/chris.png", class: "img-responsive img-circle" %>
                    <h4>Chris Koo</h4>
                    <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA 2015</p>
                    <!-- <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/paul.png", class: "img-responsive img-circle" %>
                    <h4>Paul Zhao</h4>
                    <p class="text-muted"><i>Co-Founder</i><br>HBS, MBA of 2015</p>
                   <!--  <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/3.jpg", class: "img-responsive img-circle" %>
                    <h4>Editorial Team</h4>
                    <p class="text-muted"><i>100+ Specialists</i><br>Subject Matter Experts (SME)</p>
                   <!--  <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" align="justify"><br>Our editoral team consists of a diverse group of <strong>SPECIALISTS</strong>. All of them are professionals who possess real-world experience in various <strong>industries and functions, Fortune 500 firms and startups, as well as admissions boards and career consultancies</strong>. Our editors command <strong>CURRENT</strong> and <strong>RELEVANT</strong> recruiting, application, and admissions knowledge norms. They bring unparalleled <strong>DOMAIN EXPERTISE</strong> to resume, cover letter, and essay editing.</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<section class="clients bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Success Stories</h2>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Wei1.png", class: "img-responsive img-circle" %>
                <h4>Wei Liu</h4>
                <p class="text-muted" align="justify"><br><i>"I sent my cover letters to BeamDox and got them back the next day. The quality is superb and the editors are fast. My cover letters got a lot of attention during my summer internship recruiting. They were differentiated from cookie-cutter templates and boilerplate formats."</i>
                <p class="text-muted" align="right"><strong>~ Wharton, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                    <%= image_tag "logos/Maria1.png", class: "img-responsive img-circle" %>
                <h4>Maria Gonzalez</h4>
                <p class="text-muted" align="justify"><br><i>"What made BeamDox useful was that the editing was tailored for me. The editors understand my needs and helped to make revisions that were highly personalized. BeamDox made my resume stand out in terms of structure and clarity. Recruiters complimented my resume."</i>
                <p class="text-muted" align="right"><strong>~ MIT Sloan, MBA 2015</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Aaron1.png", class: "img-responsive img-circle" %>
                <h4>Aaron Wilkinson</h4>
                <p class="text-muted" align="justify"><br><i>"I thought my resume was decent until I submitted to BeamDox. The service helped me to understand that my resume shouldn't be a laundry list of achievements. Instead, the editors recommended a cohesive body of accomplishments that was compelling for the position I was applying to.</i>
                <p class="text-muted" align="right"><strong>~ Stanford GSB, MBA 2016</strong></p>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-example">
                <%= image_tag "logos/Serena1.png", class: "img-responsive img-circle" %>
                <h4>Serena Grieves</h4>
                <p class="text-muted" align="justify"><br><i>"I was applying to HBS and needed some critical feedback on my application essay. I turned in a draft to BeamDox, and received a very granular edit. They went beyond grammar, vocabulary, sentence structure, etc. Beamdox helped me to build a narrative to truly reflect my story."</i>
                <p class="text-muted" align="right"><strong>~ HBS, MBA 2017</strong></p>
            </div>
        </div>
    </div>
</section>

<!--timeline-->

<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">
    <li>
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Collapsible Group Item #1</a></h4>
                        </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #1</a></h4>
                        </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil aTwo keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proidTwo. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #1</a></h4>
                        </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #1</a></h4>
                        </div>
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    </ul>
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #1</a></h4>
                        </div>
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    </div>
                </div>













<!-- Script Initialize -->
<script type="text/javascript" charset="utf-8">
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
}); 
</script>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; BeamDox 2015</span>
            </div>
            <div class="col-md-4">
<!--                 <ul class="list-inline social-buttons"> -->
                    <ul class="list-inline social-buttons">
                    <li><a href="http://www.twitter.com/beamdox"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="http://www.facebook.com/beamdox"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/channel/UCnsJ3nvbcf0Q-ZyJRdI1yuQ"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks" >

                    <li><a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Privacy Policy</a>
                    </li>
                    <li><a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Cover Letter Editing</h2>
                        <p class="item-intro text-muted">Impactful. Memorable. Persuasive.</p>
                        <p class="item-intro text-muted"></p>
                        <%= image_tag "portfolio/CL-expanded.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-before.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-during.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-cl-after.png", class: "img-responsive img-centered" %>
                        <p align="justify">First impressions matter. Your cover letter is your self-introduction. A powerful cover letter is a firm handshake, a vibrant smile, and confident eye contact. Maximize this opportunity to make yourself memorable so that recruiters will engage your resume.</p>
                    
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <h2>Resume Design</h2>
                        <p class="item-intro text-muted">Clear. Focused. Coherent.</p>
                        <p class="item-intro text-muted"></p>
                        <%= image_tag "portfolio/R-expanded.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-before.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-during.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-resume-after.png", class: "img-responsive img-centered" %>
                        <p align="justify">A resume isn't a laundry list of items. It's a coherent body skills, responsibilities, and results. Components reinforce each other and the whole is greater than the sum of its parts. A strong resume is both a snapshot of your historical success and future potential.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Essay Revision</h2>
                        <p class="item-intro text-muted">Compelling. Personal. Distinctive.</p>
                        <%= image_tag "portfolio/EssayExpanded.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-before.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-during.png", class: "img-responsive img-centered" %>
                        <%= image_tag "portfolio/excerpt/excerpt-essay-after.png", class: "img-responsive img-centered" %>
                        <p align="justify">The best essays are narratives. Like any good story, a great essay has a beginning that hooks readers, a page-turner core with vivid details, and a conclusion that arouses further curiosity. Every effective essay focuses on something important about you and then fully develops that message.</p>
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="terms">
                        <!-- Project Details Go Here -->
                        <p> 
                            <h1>PRIVACY POLICY</h1>
                    
                           
<br><br>
<b>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</b>
When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.
When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.

<br><br>
<b>SECTION 2 - CONSENT</b> 
How do you get my consent?
When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.
If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
How do I withdraw my consent?
If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at customerservice@beamdox.com or mailing us at: BeamDox 500 Soldiers Field Rd. #827 Boston Massachusetts USA 02163

<br><br>
<b>SECTION 3 - DISCLOSURE</b>
We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.

<br><br>
<b>SECTION 4 - SHOPIFY</b>
Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.
Your data is stored through Shopify’s data storage, databases and the general Shopify application. They store your data on a secure server behind a firewall
<br>
Payment:
If you choose a direct payment gateway to complete your purchase, then Shopify stores your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.
All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.
PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.
For more insight, you may also want to read Shopify’s Terms of Service here or Privacy Statement here.
<br><br>
<b>SECTION 5 - THIRD-PARTY SERVICES</b>
In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.
Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service. 
Links
When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.

<br><br>

<b>SECTION 6 - SECURITY</b>
To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.

<br><br>
<b>SECTION 7 - COOKIES</b>
Here is a list of cookies that we use. We’ve listed them here so you that you can choose if you want to opt-out of cookies or not.
 _session_id, unique token, sessional, Allows Shopify to store information about your session (referrer, landing page, etc).
 _shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by our website provider’s internal stats tracker to record the number of visits
 _shopify_uniq, no data held, expires midnight (relative to the visitor) of the next day, Counts the number of visits to a store by a single customer.
cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart.
 _secure_session_id, unique token, sessional
 storefront_digest, unique token, indefinite If the shop has a password, this is used to determine if the current visitor has access.

<br><br> 
<b>SECTION 8 - AGE OF CONSENT</b>
By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
<br><br>
<b>SECTION 9 - CHANGES TO THIS PRIVACY POLICY</b>
We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.

If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
<br><br>

<b>QUESTIONS AND CONTACT INFORMATION</b>
If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at customerservice@beamdox.com or by mail at BeamDox
[Re: Privacy Compliance Officer]
[500 Soldiers Field Rd. #827 Boston Massachusetts USA 02163]
----
</p>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="terms">
                            <p>
                        <!-- Project Details Go Here -->
                            <h1>TERMS OF SERVICE</h1>

<br><br>
<b>OVERVIEW</b>
<br><br>
This website is operated by BeamDox. Throughout the site, the terms “we”, “us” and “our” refer to BeamDox. BeamDox offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.
By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply  to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.
Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.
Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.
<br><br>

<b>SECTION 1 - ONLINE STORE TERMS</b>
By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
You must not transmit any worms or viruses or any code of a destructive nature.
A breach or violation of any of the Terms will result in an immediate termination of your Services.

<br><br>
<b>SECTION 2 - GENERAL CONDITIONS</b>
We reserve the right to refuse service to anyone for any reason at any time.
You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.
The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.

<br><br>
<b>SECTION 3 - ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION</b>
We are not responsible if information made available on this site is not accurate, complete or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk.
This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.

<br><br>
<b>SECTION 4 - MODIFICATIONS TO THE SERVICE AND PRICES</b>
Prices for our products are subject to change without notice.
We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.
We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.
<br><br>
<b>SECTION 5 - PRODUCTS OR SERVICES (if applicable)</b>

Certain products or services may be available exclusively online through the website. These products or services may have limited quantities and are subject to return or exchange only according to our Return Policy.
We have made every effort to display as accurately as possible the colors and images of our products that appear at the store. We cannot guarantee that your computer monitor's display of any color will be accurate.
We reserve the right, but are not obligated, to limit the sales of our products or Services to any person, geographic region or jurisdiction. We may exercise this right on a case-by-case basis. We reserve the right to limit the quantities of any products or services that we offer. All descriptions of products or product pricing are subject to change at anytime without notice, at the sole discretion of us. We reserve the right to discontinue any product at any time. Any offer for any product or service made on this site is void where prohibited.
We do not warrant that the quality of any products, services, information, or other material purchased or obtained by you will meet your expectations, or that any errors in the Service will be corrected.

<br><br>
<b>SECTION 6 - ACCURACY OF BILLING AND ACCOUNT INFORMATION</b>
We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or distributors.
You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.
For more detail, please review our Returns Policy.
<br><br>
<b>SECTION 7 - OPTIONAL TOOLS</b>
We may provide you with access to third-party tools over which we neither monitor nor have any control nor input.
You acknowledge and agree that we provide access to such tools ”as is” and “as available” without any warranties, representations or conditions of any kind and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of optional third-party tools.

Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party provider(s).
We may also, in the future, offer new services and/or features through the website (including, the release of new tools and resources). Such new features and/or services shall also be subject to these Terms of Service.

<br><br>
<b>SECTION 8 - THIRD-PARTY LINKS</b>
Certain content, products and services available via our Service may include materials from third-parties.
Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties.
We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.

<br><br>
<b>SECTION 9 - USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</b>
If, at our request, you send certain specific submissions (for example contest entries) or without a request from us you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, 'comments'), you agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments.
We may, but have no obligation to, monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party.

<br><br>
<b>SECTION 10 - PERSONAL INFORMATION</b>
Your submission of personal information through the store is governed by our Privacy Policy. To view our Privacy Policy.

<br><br>
<b>SECTION 11 - ERRORS, INACCURACIES AND OMISSIONS</b>
Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order).
We undertake no obligation to update, amend or clarify information in the Service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated.
<br><br>
<b>SECTION 12 - PROHIBITED USES</b>
In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.
<br><br>
<b>SECTION 13 - DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</b>
We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free.
We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.

You agree that from time to time we may remove the service for indefinite periods of time or cancel the service at any time, without notice to you.
You expressly agree that your use of, or inability to use, the service is at your sole risk. The service and all products and services delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement.
In no case shall BeamDox, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured using the service, or for any other claim related in any way to your use of the service or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law.
<br><br>
<b>SECTION 14 - INDEMNIFICATION</b>
You agree to indemnify, defend and hold harmless BeamDox and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.
<br><br>
<b>SECTION 15 - SEVERABILITY</b>
In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.
<br><br>
<b>SECTION 16 - TERMINATION</b>



The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes.
These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease using our site.
If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof).
<br><br>
<b>SECTION 17 - ENTIRE AGREEMENT</b>
The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.
These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).
Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.
<br><br>
<b>SECTION 18 - GOVERNING LAW</b>
These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of 500 Soldiers Field Rd. #827 Boston Massachusetts USA 02163.
<br><br>
<b>SECTION 19 - CHANGES TO TERMS OF SERVICE</b>
You can review the most current version of the Terms of Service at any time at this page.
We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes.
<br><br>
<b>SECTION 20 - CONTACT INFORMATION</b>

<br><br>
Questions about the Terms of Service should be sent to us at customerservice@beamdox.com.
</p>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <%= image_tag "portfolio/dreams-preview.png", class: "img-responsive img-centered" %>
                        <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>