<%= form_tag submissions_path, multipart: true do %>
  <div class="row">
    Name: <%= text_field_tag 'submission[name]' %></br>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <h4>Cover Letter</h4>
    </div>
    <div class="col-md-4 text-center">
      <h4>Resume</h4>
    </div>
    <div class="col-md-4 text-center">
      <h4>Essays</h4>
    </div>
  </div>

  <div class="row">
    <div id="cover_letters" class="col-md-4">
      File Upload <%= file_field_tag 'submission[cover_letter_attributes][0]', class: 'cover_letter' %>
    </div>
    <div id="resumes" class="col-md-4">
      File Upload <%= file_field_tag 'submission[resume_attributes][0]', class: 'resume' %>
    </div>
    <div id="essays" class="col-md-4">
      File Upload <%= file_field_tag 'submission[essay_attributes][0]', class: 'essay' %>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-4">
      <a id="add_cover_letter" href='#'>Add another</a>
    </div>
    <div class="col-md-4">
      <a id="add_resume" href='#'>Add another</a>
    </div>
    <div class="col-md-4">
      <a id="add_essay" href='#'>Add another</a>
    </div>
  </div> 

  <div class="row">
    Total Price: <span id="total_price">0</span>
    <%= hidden_field_tag 'submission[amount]', 0 %>
  </div>  

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>