<section class="col-md-12">
  <h1 class='text-center'>Submit Documents</h1>
  <ul class='nav nav-pills'>
    <li role='presentation' class='document_button resume active'><%= link_to "Resume", '#' %></li>
    <li role='presentation' class='document_button cv'><%= link_to "Cover Letter", '#' %></li>
    <li role='presentation' class='document_button essay'><%= link_to "Essay", '#' %></li>
  </ul>
  <h6>Acceptable file types: .pdf, .txt, .doc, .docx.</h6>

  <%= file_field_tag 'text_file', multiple: true, type: :file, class: 'document' %>

  <%= form_for @submission, url: profile_submissions_path, multipart: true do |f| %>
    <div class='selected_documents_container well'>
      <div class='selected_documents'>
        <h4 class='text-center'>Selected Documents</h4>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <th><strong>File Type</strong></th>
              <th><strong>File Name</strong></th>
              <th><strong>Upload Time</strong></th>
              <th><strong>Price</strong></th>
              <th><strong>Add Comments</strong></th>
              <th><strong></strong></th>
            </thead>
            <tbody class='documents_list'>
            </tbody>
          </table>
        </div>
      </div>
      <div class="total-price">
        <h4>Total Price: $<span id="total_price">0</span></h4>
      </div>  
    </div>
    <div class='row text-center'>
      <%= check_box_tag :accepted, '', false, :class => 'accept-checkbox' %>
      <%= label_tag :accepted, "By checking here, I confirm that I have completely read and agree to the Terms of Service, Privacy Policy, and Refund Policy of www.BeamDox.com." %>
    </div>
    <div class='text-center' style="margin-top:10px">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Submit Documents"
              data-label="Submit &amp Pay"></script>
    </div>
  <% end %>  
</section>

<% provide(:title, "New Submission") %>