<section class="col-md-12">
  <h1 class='text-center'>Upload Documents</h1>
  <ul class='nav nav-pills'>
    <li role='presentation' class='document_button resume active'><%= link_to "Resume", '#' %></li>
    <li role='presentation' class='document_button cv'><%= link_to "CV", '#' %></li>
    <li role='presentation' class='document_button essay'><%= link_to "Essay", '#' %></li>
  </ul>

  <%= form_for @submission, url: profile_submissions_path, multipart: true do |f| %>
    <%= f.file_field 'document', multiple: true, type: :file, class: 'document' %>
    <div class="total-price">
      <h4>Total Price: <span id="total_price">0</span></h4>
    </div>  

    <div class='text-center'>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Submit Documents"
              data-label="Submit &amp Pay"></script>
    </div>
  <% end %>  
</section>
