<section class="col-md-12">
  <h1 class='text-center'>Submit Documents</h1>
  <ul class='nav nav-pills'>
    <li role='presentation' class='document_button resume active'><%= link_to "Resume", '#' %></li>
    <li role='presentation' class='document_button cv'><%= link_to "Cover Letter", '#' %></li>
    <li role='presentation' class='document_button essay'><%= link_to "Essay", '#' %></li>
  </ul>
  <h6>Acceptable file types: .pdf, .txt, .doc, .docx.</h6>

  <%= file_field_tag 'text_file', multiple: true, type: :file, class: 'document' %>

  <%= form_for @submission, url: profile_submissions_path, multipart: true, :html => {:id => 'payment_form'} do |f| %>
    <div class='selected_documents_container well'>
      <div class='selected_documents'>
        <h4 class='text-center'>Selected Documents</h4>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <th><strong>File Type</strong></th>
              <th><strong>File Name</strong></th>
              <th><strong>Upload Time</strong></th>
              <th><strong>Price</strong></th>
              <th><strong>Add Comments</strong></th>
              <th><strong></strong></th>
            </thead>
            <tbody class='documents_list'>
            </tbody>
          </table>
        </div>
      </div>
      <div class="total-price text-center">
        <h3>TOTAL PRICE: $<span id="total_price">0</span></h3>
      </div>

    </div>
    <div class='row text-center'>
      <%= check_box_tag :accepted, '', false, :class => 'accept-checkbox' %>
      <label for='accepted'>
        By checking here, I confirm that I have completely read and agree to the 
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Privacy Policy</a>, 
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">Terms of Service</a>, and 
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">Refund Policy</a> of www.BeamDox.com.
      </label>
    </div>
    <div class='text-center' style="margin-top:10px">
      <button class='btn btn-primary' id='submit_button'>Submit &amp; Pay</button>
    </div>
  <% end %>  
</section>

<!-- Payment modal -->
<div class='modal fade payment-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <form action="" method="POST" id='payment-form'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class='modal-title text-center'>Submit Documents</h4>
          <h5 class='modal-subtitle text-center'><%= current_user.email %></h5> 
        </div>        
        <div class='modal-body'>
          <span class="payment-errors"></span>
          <% if current_user.is_customer? %>
            <p>
              Your credit card has already been registered. Click <%= link_to 'here', '#', :id => 'expand_card_form' %> to register another credit card.
            </p>
            <div class='additional_card'>
              <p>Accepts Visa, MasterCard, American Express, JCB, Discover, and Diners Club.</p>
              <div class="form-group">
                <label for='additional_card_number'>
                  <span>Card Number</span>
                </label>
                <input type="text" id='additional_card_number' class='card_number form-control' size="20"/>
              </div>

              <div class="form-group">
                <label for='additional_card_cvc'>
                  <span>CVC</span>
                </label>
                <input id='additional_card_cvc' type="text" class='card_cvc form-control' size="4"/>
              </div>

              <div class="form-group">
                <label for='additional_card_expr'>
                  <span>Expiration (MM/YYYY)</span>
                </label>
                <input type="text" id='additional_card_expr' class='card_expr form-control' size="6"/>
              </div>
            </div>
          <% else %>
            <p>Accepts Visa, MasterCard, American Express, JCB, Discover, and Diners Club.</p>
            <div class="form-group">
              <label for='card_number'>
                <span>Card Number</span>
              </label>
              <input type="text" id='card_number' class='card_number form-control' size="20"/>
            </div>

            <div class="form-group">
              <label for='card_cvc'>
                <span>CVC</span>
              </label>
              <input type="text" id='card_cvc' class='card_cvc form-control' size="4"/>
            </div>

            <div class="form-group">
              <label for='card_expr'>
                <span>Expiration (MM/YYYY)</span>
              </label>
              <input type="text" id='card_expr' class='card_expr form-control' size="6"/>
            </div>
          <% end %>
        </div>
        <div class='modal-footer'>
          <button type='submit' class='btn btn-primary'>Pay</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%= stripe_javascript_tag %>
<% provide(:title, "New Submission") %>