<section class="col-md-12">
  <h1 class='text-center page_title'>Submit Documents</h1>
  <%= render 'shared/flash' %>
  <h5 class='text-center'>Drag and drop your files below. Acceptable file types include .pdf, .txt, .doc, .docx., .rtf</h5>

  <div class='row'>
    <div class='col-md-4' id='resume_section'>
      <h3 class='text-center'>$100/Resume</h3>
      <%= file_field_tag 'text_file', multiple: true, type: :file, class: 'document', id: 'resume', :data => {:type => 'Resume'} %>
    </div>
    <div class='col-md-4' id='cover_letter_section'>
      <h3 class='text-center'>$100/Cover Letter</h3>
      <%= file_field_tag 'text_file', multiple: true, type: :file, class: 'document', id: 'cover_letter', :data => {:type => 'Cover Letter'} %>
    </div>
    <div class='col-md-4' id='essay_section'>
      <h3 class='text-center'>$250/Essay</h3>
      <%= file_field_tag 'text_file', multiple: true, type: :file, class: 'document', id: 'essay', :data => {:type => 'Essay'} %>
    </div>
  </div>

  <%= form_for @submission, url: profile_submissions_path, multipart: true, :html => {:id => 'payment_form'} do |f| %>
    <div class='selected_documents_container well'>
      <div class='selected_documents'>
        <h4 class='text-center'>Selected Documents</h4>
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <th><strong>File Type</strong></th>
              <th><strong>File Name</strong></th>
              <th><strong>Upload Time</strong></th>
              <th><strong>Price</strong></th>
              <th><strong>Add Comments</strong></th>
              <th><strong></strong></th>
            </thead>
            <tbody class='documents_list'>
            </tbody>
          </table>
        </div>
      </div>
      <div class="total-price text-center">
        <h3>TOTAL PRICE: $<span id="total_price">0</span></h3>
      </div>

    </div>
    <div class='row text-center'>
      <%= check_box_tag :accepted, '', false, :class => 'accept-checkbox' %>
      <label for='accepted'>
        By checking here, I confirm that I have completely read and agree to the 
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Privacy Policy</a>, 
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">Terms of Service</a>, and 
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">Refund Policy</a> of www.BeamDox.com.
      </label>
    </div>
    <div class='text-center' style="margin-top:10px">
      <%= button_tag 'Submit & Pay', :class => 'btn btn-primary', :id => 'submit_button' %>
    </div>
  <% end %>  
</section>

<!-- Pay modal -->
<div class="modal fade payment-modal">
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class='modal-title text-center'>Submit Documents</h4>
        <h5 class='modal-subtitle text-center'><%= current_user.email %></h5> 
      </div>
      <div class='modal-body text-center'>
        <p>Use your credit card ending in <%= current_user.last_4_digits %>.</p>
        <button id='pay_with_old_card' class='btn btn-primary pay-btn-margin'>Pay</button>
        <p>OR</p>
        <p>
          Pay with a <%= link_to "different card", '#', :id => 'open-new-card-modal' %>.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- New credit card modal -->
<div class='modal fade new-card-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <form action="" method="POST" id='payment-form'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class='modal-title text-center'>Submit Documents</h4>
          <h5 class='modal-subtitle text-center'><%= current_user.email %></h5> 
        </div>        
        <div class='modal-body'>
          <span class="payment-errors"></span>
          <h5 class='text-center'><strong>Accepted Payment Options</strong></h5>
          <div class='credit_cards text-center'>
            <div class='row'>
              <%= image_tag 'credit_cards/american_express.jpg' %>
              <%= image_tag 'credit_cards/mastercard.jpg' %>
              <%= image_tag 'credit_cards/visa.jpg' %>
            </div>
            <div class='row'>
              <%= image_tag 'credit_cards/discover.jpg' %>
              <%= image_tag 'credit_cards/jcb.jpg' %>
              <%= image_tag 'credit_cards/dinersclub.jpg' %>
            </div>
          </div>
          <div class="form-group">
            <label for='card_number'>
              <span>Card Number</span>
            </label>
            <input type="text" id='card_number' class='card_number form-control' size="20"/>
          </div>

          <div class="form-group">
            <label for='card_cvc'>
              <span>CVC</span>
            </label>
            <input type="text" id='card_cvc' class='card_cvc form-control' size="4"/>
          </div>

          <div class="form-group">
            <label for='card_expr'>
              <span>Expiration (MM/YYYY)</span>
            </label>
            <input type="text" id='card_expr' class='card_expr form-control' size="6"/>
          </div>
        </div>
        <div class='modal-footer'>
          <% if current_user.is_customer? %>
            <%= button_tag 'Back', :class => 'btn btn-default', :id => 'open-payment-modal' %>
          <% end %>

          <button type='submit' class='btn btn-primary'>Pay</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%= stripe_javascript_tag %>
<% provide(:title, "New Submission") %>