<!DOCTYPE html>
<html>
  <body>
    <h4>New submission from <%= @user.email %>!</h4>

    <p><%= @user.email %> has submitted the following documents for review:</p>

    <% @submission.documents.each do |document| %>
      <p>
        Name: <%= document.original_filename %><br>
        Type: <%= document.formatted_type %><br>
        Download link: <%= document.text_file_url %><br>

        <% if document.description.present? %>
          Description: <%= document.description %><br>
        <% end %>
      </p>
    <% end %>

    <p>Phone number: <%= @user.phone_number %></p>

    <p>Total cost: <%= @submission.amount %></p>
  </body>
</html>