<%= render 'shared/static_header' %>

<section id="static_login" class='container'>
  <h1 class='user_settings text-center top-padding-150'>Log in</h1>
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <%= render 'shared/flash'%>
  </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :data => {:toggle => 'validator'}, :html => {:class => 'form-horizontal'}) do |f| %>

    <div class="form-group">
    <div class="row">
      <%= f.label :email , :class => 'col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-3 control-label'%>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
       <%= f.email_field :email, autocomplete:"off", :class => 'form-control', :placeholder => "Email", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
     </div>
   </div>
 </div>

    <div class="form-group">
    <div class="row">
      <%= f.label :password , :class => 'col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-3 control-label'%>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
       <%= f.password_field :password, autocomplete:"off", :class => 'form-control', :placeholder => "Password", :required => true%>
     </div>
   </div>
 </div>

    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 table-center">
        <div class="checkbox">
          <label>
            <input type="checkbox">Remember me
          </label>
        </div><br/>
        <input class="btn btn-primary center-block disabled" name="commit" type="submit" value="Log in" style="pointer-events: all; cursor: pointer;">
      </div>
    </div>
    

    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 table-center">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up for Beamdox", new_registration_path(resource_name) %><br />
        <% end -%>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "I forgot my password", new_password_path(resource_name) %>
        <% end -%>
      </div>
    </div>
    <div class="text-center">OR</div><BR>
    <%= link_to image_tag("fblogin.jpg", class: 'img-responsive center-block'), user_omniauth_authorize_path(:facebook), class: 'facebook-login' %>
  <%end%>
</div>
</section>