<section class='documents_index'>
  <div class='text-center'>
    <h1>My Documents</h1><br>
  </div>
  <%= render 'shared/flash' %>
  <% if @documents.empty? %>
    <div class='text-center'>
      <p>You currently don't have any documents uploaded. <%= link_to "Click here", new_profile_submission_path %> to create a submission.</p>
    </div>
  <% else %>
    <div class='table-responsive'>
      <table class='table text-center'>
        <tr>
          <th>Time Submitted</th>
          <th>File Name</th>
          <th>Review Status</th>
          <th>More Info</th>
        </tr>
        <% @documents.each do |document| %>
          <tr>
            <td><%= document.formatted_created_at %></td>
            <td>
              <% if document.status == 'matching' %>
                <a href='#' data-toggle='modal' data-target='#upload-modal' data-document-id="<%= document.id %>"><i class="fa fa-refresh" aria-hidden="true"></i></a>
              <% end %>
              <%= link_to document.formatted_filename, '#', :data => {:toggle => 'modal', :target => '#preview-modal', :url => "https://docs.google.com/gview?url=#{document.text_file_url}&embedded=true", :title => document.original_filename} %>
              </td>
            <td>
              <%= document.status.capitalize %>
              <% if document.status == 'complete' %>
                <a href=<%= download_profile_document_path(document.id) %>><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
              <% end %>
            </td>
            <td>
              <a href='#' data-toggle='modal' data-target='#info-modal' data-user-comments="<%= document.description %>" data-editor-comments="<%= document.feedback %>" data-file-name="<%= document.original_filename %>" data-file-type="<%= document.formatted_type.capitalize %>" data-price="<%= document.price %>">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </a>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</section>

<div class="portfolio-modal modal fade" id="preview-modal">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
        <div class="modal-body">
          <h1 id='document-title'></h1>
          <div class="row">
            <iframe src='' id='embedded-preview' width='1000px' height='800px'></iframe>
          </div>
          <div class='row'>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id='upload-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change File</h4>
      </div>
      <div class="modal-body">
        <p><strong>NOTE:</strong> You may replace this document as long as the status is NOT “In Editing” or “Complete.” </p>
        <p><strong>NOTE:</strong> You may only substitute documents of the same type: cover letter for another cover letter, resume for another resume, or essay for another essay. If you replace with a mismatching document type, we will not edit it. We will issue an automatic refund for that document.</p>
        <%= form_for :document, url: profile_document_path(1), method: :put, :html => {:class => 'change-file-form'} do |f| %>
          <div class='form-group'>
            <%= f.file_field :text_file %>
          </div>

          <div id='change-file-description'></div>

          <%= f.submit "Confirm", class: 'btn btn-primary confirm', :disabled => true %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id='info-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">More Information</h4>
      </div>
      <div class="modal-body">
        <div id='file-name'></div>
        <div id='file-type'></div>
        <div id='price'></div>
        <div id='user-comments'></div>
        <div id='editor-commments'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% provide(:title, "My Documents") %>