<section class='documents_index'>
  <%= render 'shared/flash' %>
  <div class='text-center'>
    <h1>My Documents</h1>
  </div>
  <% if @documents.empty? %>
    <div class='text-center'>
      <p>You currently don't have any documents uploaded. <%= link_to "Click here", new_profile_submission_path %> to create a submission.</p>
    </div>
  <% else %>
    <div class='table-responsive'>
      <table class='table'>
        <tr>
          <th>Time Submitted</th>
          <th>File Name</th>
          <th>Review Status</th>
          <th>More Info</th>
        </tr>
        <% @documents.each do |document| %>
          <tr>
            <td><%= document.formatted_created_at %></td>
            <td><%= link_to document.original_filename, '#', :data => {:toggle => 'modal', :target => '#preview-modal', :url => "https://docs.google.com/gview?url=#{document.text_file_url}&embedded=true", :title => document.original_filename} %></td>
            <td>
              <%= document.status.capitalize %>
              <% if document.status == 'complete' %>
                <a href=<%= download_profile_document_path(document.id) %>><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
              <% end %>
            </td>
            <td>
              <a href='#' data-toggle='modal' data-target='#info-modal' data-user-comments="<%= document.description %>" data-editor-comments="<%= document.feedback %>" data-file-name="<%= document.original_filename %>" data-file-type="<%= document.formatted_type.capitalize %>" data-price="<%= document.price %>">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </a>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</section>

<div class="portfolio-modal modal fade" id="preview-modal">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
        <div class="modal-body">
          <h1 id='document-title'></h1>
          <div class="row">
            <iframe src='' id='embedded-preview' width='1000px' height='800px'></iframe>
          </div>
          <div class='row'>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id='info-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">More Information</h4>
      </div>
      <div class="modal-body">
        <div id='file-name'></div>
        <div id='file-type'></div>
        <div id='price'></div>
        <div id='user-comments'></div>
        <div id='editor-commments'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% provide(:title, "My Documents") %>