<section class='documents_index'>
  <%= render 'shared/flash' %>
  <div class='text-center'>
    <h1>My Documents</h1>
  </div>
  <% if @documents.empty? %>
    <div class='text-center'>
      <p>You currently don't have any documents uploaded. <%= link_to "Click here", new_profile_submission_path %> to create a submission.</p>
    </div>
  <% else %>
    <div class='table-responsive'>
      <table class='table'>
        <tr>
          <th>Submitted</th>
          <th>File Type</th>
          <th>File Name</th>
          <th>Review Status</th>
          <th>Comments</th>
        </tr>
        <% @documents.each do |document| %>
          <tr>
            <td><%= document.formatted_created_at %></td>
            <td><%= document.formatted_type.capitalize %></td>
            <td><%= link_to document.original_filename, "https://docs.google.com/gview?url=#{document.text_file_url}&embedded=true" %></td>
            <td><%= document.status.capitalize %></td>
            <td><%= link_to 'View', '#' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</section>

<% provide(:title, "My Documents") %>