<section class="row">
  <section class="col-md-12">
    <%= render 'shared/flash' %>
    <h1>My Documents</h1>
    <% if @documents.empty? %>
      <p>You currently don't have any documents uploaded. <%= link_to "Click here", new_profile_submission_path %> to create a submission.</p>
    <% else %>
      <% @documents.each do |document| %>
        <h4><%= document.original_filename %></h4>
        <strong>Type:</strong> <%= document.formatted_type %><br>
        <strong>Link:</strong> <%= document.text_file_url %><br>
        <% if document.description.present? %>
          <p>
            <%= document.description %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </section>
</section>

<% provide(:title, "My Documents") %>