<!DOCTYPE html>
  <html>
  <head>
    <title>Beamdox | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <%= yield :head %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div class='profile'>
      <div class='main container'>
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/config' %>
  </body>
</html>