<!DOCTYPE html>
  <html>
  <head>
    <title>Beamdox | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <%= yield :head %>
  </head>
  <body>
    <div class='profile'>
      <%= render 'shared/header' %>
      <div class='main container'>
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>